<h4>Modifier le paiement du participant {{paiement.participant.nom}} {{paiement.participant.prenom}}</h4>

<form (ngSubmit)="SavePaiement()">
    <p *ngIf="bool">{{errorMsg}}</p><br>

    <input type="hidden"  name="paiement.participant.idUtilisateur" [(ngModel)]="paiement.participant.idUtilisateur" /><br>

    Formation : <select name="idFormation" id="idFormation" [(ngModel)]="idFormation">
        <option  *ngFor="let f of formations" [ngValue] ="f.idFormation">{{f.idFormation}} : {{f.libFormation}}</option>
        </select><br>

    Montant : <input type="number"  name="montant" [(ngModel)]="paiement.montant" /><br>
    
    <input type="submit" value="Modifier">
</form>
