<h1>Récapitulatif des contacts avec {{p.nom}}, {{p.prenom}}</h1>

<table>
    <thead>
        <td>Date</td>
        <td>Compte-Rendu</td>
        <td>Commercial</td>
    </thead>
    <tbody *ngFor="let c of p.contacts">
        <tr>
            <td>{{c.dateContact}}</td>
            <td>{{c.compteRendu}}</td>
            <td>[{{c.commercial.idUtilisateur}}], {{c.commercial.nom}}, {{c.commercial.prenom}}</td>
        </tr>
    </tbody>
    <tr>
        <td colspan="3">
            <button class="btn btn-dark" (click)="ajouterDate(p.idProspect)">Ajouter contact</button>
        </td>
    </tr>
</table>

<button class="btn btn-dark" (click)="backtrack()">Retour</button>