<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="">Accueil</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="c-gestion-prospects">Gestion des
                            Prospects</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="c-gestion-compte">Compte </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">Gestion des prospects</div>
                    <div class="site-heading">
                        <h1>Inti Formation</h1>
                        <span class="subheading">Projet de fin de Formation</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>


    <h1 class="titreCenter">Liste des Prospects</h1>

    <table class="tabProspects">
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse Mail</th>
            <th>Numéro de téléphone</th>
            <th>Dates de Contact</th>
            <th>Options</th>
        </thead>
        <tr *ngFor="let p of lProspects">
            <td>{{p.nom}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.email}}</td>
            <td>{{p.numTel}}</td>
            <td>
                <span *ngFor="let c of p.contacts" class="txtcenter">
                    <span *ngIf="c.idContact;then contacts else aucun"></span>
                    <ng-template #contacts>
                        {{c.dateContact}}
                    </ng-template>
                    <ng-template #aucun>
                        <div>Aucun contacts</div>
                    </ng-template>
                </span>

                <div class="txtcenter">
                    <button type="button" class="btn btn-default btn-sm" (click)="afficherCR(p.idProspect)">Voir
                        CRs</button>
                    <br>
                    <button type="button" class="btn btn-dark btn-sm" (click)="ajouterDate(p.idProspect)">Ajouter une
                        date</button>
                </div>

            </td>
            <td><button type="button" class="btn btn-dark" (click)="AInscrire(p)">Valider pour
                    inscription</button></td>
        </tr>
    </table>

    <h1 class="titreCenter">Ajout de prospects</h1>

    <form (ngSubmit)="ajouterProspect()">
        <table class="tabCSV">
            <tr>
                <td>Délimiteur : (, ou autre) </td>
                <td><input type="text" name="delimiter" [(ngModel)]="delimiter" /></td>
            </tr>
            <tr>
                <td>Fichiers .csv :</td>
                <td><input type="file" name="csvFile" (change)="selectEvent($event)" /></td>
            </tr>
            <tr class="txtcenter">
                <td colspan="2"><button> Valider </button></td>
            </tr>
        </table>
    </form>
</body>

</html>