<h1>Liste des Prospects</h1>

<table class="tabcenter">
    <thead>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Adresse Mail</td>
        <td>Numéro de téléphone</td>
        <td>Dates de Contact</td>
        <td>Options</td>
    </thead>
    <tr *ngFor="let p of lProspects">
        <td>{{p.nom}}</td>
        <td>{{p.prenom}}</td>
        <td>{{p.email}}</td>
        <td>{{p.numTel}}</td>
        <td>
            <span *ngFor="let c of p.contacts" class="txtcenter">
                <span *ngIf="c.idContact;then contacts else aucun"></span>
                <ng-template #contacts>
                    {{c.dateContact}}
                </ng-template>
                <ng-template #aucun>
                    <div>Aucun contacts</div>
                </ng-template>
            </span>

            <div class="txtcenter">
                <button type="button" class="btn btn-default btn-sm" (click)="afficherCR(p.idProspect)">Voir
                    CRs</button>
                <br>
                <button type="button" class="btn btn-dark btn-sm" (click)="ajouterDate(p.idProspect)">Ajouter une
                    date</button>
            </div>

        </td>
        <td><button type="button" class="btn btn-dark" (click)="AInscrire(p)">Valider pour
                inscription</button></td>

    </tr>
</table>