<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-color:antiquewhite ; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="brand text-center text-red"></div>
                    <h1 class="pb-2">ESPACE ADMINISTRATIF</h1>
                        <br>
                        <h3><a href='afficherAssistants'>Gestion des assistants</a></h3>
                        <br>
                        <h3><a href='afficherFormateurs'>Gestion des formateurs</a></h3>
                        <br>
                        <h3><a href='afficherParticipants'>Gestion des participants</a></h3>
                        <br>
                        <h3><a href='afficherCommerciaux'>Gestion des commerciaux</a></h3>
                        <br>
                        <h3><a href='afficherFormations'>Nos formations</a></h3>
               
                        <br>
                        <h4>
                        <form (ngSubmit)="logout()">
                        <input type="submit" value="D&eacute;connexion">
                        </form>
                        </h4>
               
                    
            

                
            </div>
        </div>
    </div>
</div>



