<h1>Liste des prospects à inscrire</h1>

<ng-container *ngIf="lProspects"> <thead>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Adresse Mail</td>
        <td>Numéro de téléphone</td>
    </thead>
<div *ngIf="lProspects.length != 0; else empty"> </div>
<table>
   
        <tr *ngFor="let p of lProspects">
            <td>{{p.nom}}</td>
            <td>{{p.prenom}}</td>
            <td>{{p.email}}</td>
            <td>{{p.numTel}}</td>
        </tr>
        <tr>
            <td colspan="4"><button (click)="inscrire()">Inscrire</button></td>
        </tr>
    <ng-template #empty>
        <tr>
            <td colspan="4" class="txtcenter">Aucuns participants à inscrire</td>
        </tr>
    </ng-template>
</table>

</ng-container>