td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tabcenter {
    margin-left: auto;
    margin-right: auto;
}

.txtcenter {
	text-align:center;
}

h1 {
	text-align: center;
}