
<h1>Paramètre du compte</h1>

<form (ngSubmit)="modifCompte()">

    Nom : <input type="text" name="nom" [(ngModel)]="userObject.nom" /><br>
    Prenom : <input type="text" name="prenom" [(ngModel)]="userObject.prenom" /><br>
    Username : <input type="text" name="username" [(ngModel)]="userObject.username" /><br>
    Adresse mail : <input type="text" name="adresseMail" [(ngModel)]="userObject.adresseMail" /><br>
    
    <button type="button" class="btn outline-dark">Enregistrer les modifications</button>
</form>
